In [1]:
%reload_ext nb_black

In [2]:
import pandas as pd

from sklearn.preprocessing import StandardScaler
from sklearn.cluster import KMeans, DBSCAN

from sklearn.decomposition import PCA
from sklearn.manifold import TSNE

from umap import UMAP

from prince import MCA, FAMD

import seaborn as sns
import matplotlib.pyplot as plt

%matplotlib inline

In [3]:
data_url = "https://github.com/jhl126/bostonmarathon/blob/master/results/2014/results.csv?raw=true"

df = pd.read_csv(data_url)
df = df.drop(columns=["ctz"])

print("Columns with highest percent NA:")
# fmt: off
display(
    df.isna()
      .mean()
      .sort_values(ascending=False)
      .head()
)
# fmt: on

df.head()

Columns with highest percent NA:

state        0.080540
city         0.000031
40k          0.000000
genderdiv    0.000000
name         0.000000
dtype: float64

,10k,name,division,25k,gender,age,official,bib,genderdiv,35k,overall,pace,state,30k,5k,half,20k,country,city,40k
0,17.37,"Yamamoto, Hiroyuki",8,47.67,M,47,85.25,W1,8,71.40,8,3.27,NaN,59.18,8.02,39.72,37.65,JPN,Fukuoka,80.43
1,32.58,"Jeptoo, Rita",1,82.43,F,33,138.95,F1,1,116.37,21,5.30,NaN,99.33,16.22,69.47,65.83,KEN,Eldoret,132.10
2,16.62,"Van Dyk, Ernst F.",1,45.80,M,41,80.60,W2,1,67.42,1,3.08,NaN,56.45,7.75,38.03,36.10,RSA,Paarl,76.10
3,32.57,"Dibaba, Mare",3,82.43,F,24,140.58,F2,3,116.37,27,5.37,NaN,99.33,16.20,69.47,65.83,ETH,Shoa,132.95
4,17.12,"Hokinoue, Kota",2,46.37,M,40,81.23,W3,2,67.83,2,3.10,NaN,57.03,8.02,38.60,36.58,JPN,Nogata Fukuoka,76.72